<!-- Se hereda la estructura html de base.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block css_externo %} 
<link rel="stylesheet" href="{% static 'core/css/alta_medico.css' %}">
{% endblock %}

<!-- Etiqueta tags para completar con lo que corresponde cada pagina -->
{% block title %}Alta de Medicos {% endblock %}
{% block section_title %} Alta de Medicos {% endblock %}

{% block main %}
    <div class="centrado">
        <h3>Carga de Medicos</h3>
    </div>

    <form action="{% url 'alta_medico' %}" method="POST">
        {% csrf_token %}
        {{contacto_form}}
        <input type="submit" value="Enviar">
    </form>

{%  endblock %}