{% extends 'core/base.html' %}
{% block title %} Medicos {% endblock %}
{% block section_title %} Medicos {% endblock %}
{% block main %}    
<div class="content">
    <div class="card-body">
        {% for doctor in medico  %}
        <p class="card-title">               
            <strong>{{doctor.nombre|upper}} {{doctor.apellido|upper}}</strong>
        </p>
        <p class="card-text">                    
            Especialidad: <strong>{{doctor.doctor_especialidades}}</strong>
                <ul>
                    {% for especialidad in doctor.especialidades.all %}
                        <li>{{ especialidad.nombre }}</li>
                    {% endfor %}
                </ul>
        </p>
        <p class="card-text">
            Matricula: <strong>{{doctor.matricula}}</strong>
        </p>
        {% endfor %}

    </div>
</div> 
{% endblock %}