{% extends 'core/base.html' %}
{% block title %} Medicos {% endblock %}
{% block section_title %} Medicos {% endblock %}
{% block main %}    
<div class="content">
    <div class="">
        <p>          
            <strong>{{medico.nombre}} {{medico.apellido}}</strong>
        </p>
        <p class="card-text">
            Rubro: <strong>{{medico.rubro}}</strong>
        </p>
        <p class="card-text">
            Matricula: <strong>{{medico.matricula}}</strong>
        </p>
        <hr>
        <p class="text-start fw-bold">
            Sobre El/la Dr/a. {{medico.nombre}}
        </p>
    </div>
</div> 
{% endblock %}