{% extends 'core/base.html' %}
{% load static %}
{% block css_externo %} 
 <link rel="stylesheet" href="{% static 'core/css/especialidades.css'  %}"> 
{% endblock %}

{% block title %} Especialidades{% endblock %}
{% block section_title %} Especialidades {% endblock %}



{% block main %}
{% if user.is_authenticated %}
<div class="text-center">
    <ul >
        <li>
            <h3><a href="{% url 'alta_especialidad' %}" class="text-decoration-none">ALTA ESPECIALIDAD</a></h3></li>
    </ul>
</div>  
{% endif %}
<div class="especialidades">
        <h1>Especialidades Médicas</h1>
        <!-- Agrega más especialidades aquí -->
        {% for especialidad in especialidades %}
            <div class="especialidad">
                <h2 class="toggle">{{especialidad.nombre}}</h2>
                <ul>
                    <li>Dra. María González</li>
                    <li>Dr. Jorge Ramírez</li>
                    <li>Dra. Laura Rodríguez</li>
                </ul>
            </div>
        {% endfor %}
        
    </div>
    
{% endblock %}