<!-- Se hereda la estructura html de base.html -->
{% extends 'core/base.html' %}
{% load static %}
{% block css_externo %} 
<link rel="stylesheet" href="{% static '/core/css/index.css' %}">
{% endblock %}
<!-- Etiqueta tags para completar con lo que corresponde cada pagina -->
{% block title %}Clinica Home {% endblock %}
{% block section_title %} Home {% endblock %}


<!-- Seccion main : Texto de relleno -->
{% block main %}
    <div class="confirmacion_alta">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>

    <div class="menu_index">
        <div class="seccion_izquierda">
            <ul class="listado">
                <li>Quienes Somos</li>
                <li>Nuestros Servicios</li>
                <li>Nuestras Sucursales</li>
                <li>Atencion al Socio</li>
                <li>Contactos</li>
            </ul>
        </div>
        <div class="seccion_derecha">
            <h3>En la clinica "nombreClinica"...</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ipsum aut animi deleniti inventore laudantium voluptatum magni, cum laboriosam velit totam, tempore placeat? Dolorem explicabo minus eveniet facilis perferendis minima.lorem
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe ad, repellat quas mollitia nemo omnis eaque minus aperiam ipsa explicabo tenetur ipsum dolorem reprehenderit iste deserunt temporibus, adipisci sit eligendi?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio recusandae, quo sit est vel doloremque distinctio officia dicta totam, ipsam veniam harum et neque, dignissimos delectus sequi expedita! Error, expedita.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae libero est odit quas qui mollitia asperiores, eius dolorum inventore unde, laudantium nesciunt animi, sunt modi sed? Eos illum quidem perspiciatis!   </p>
        </div>
    </div>
    <section class="seccion_img">
        <div>
            <img src="{% static 'core/img/sesiones-clinicas.jpg' %}" >
        </div>
        <div>
            <img src="{% static 'core/img/sesiones-clinicas.jpg' %}" >
        </div>
        <div>
            <img src="{% static 'core/img/sala.jpg' %}" >
        </div>
       
    </section>



{% endblock %}










   



