{% extends 'core/base.html' %}
{% load static %}
{% block css_externo %} 
<link rel="stylesheet" href="{% static 'core/css/medicos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/alta_medico.css' %}">
{% endblock %}

{% block title %} Medicos {% endblock %}
{% block section_title %} Medicos {% endblock %}
{% block main %}  
<div class="alta_medico">
    <ul>
        <li><h3><a href="{% url 'alta_medico' %}">ALTA MEDICO</a></h3></li>
    </ul>
</div>  
<div class="content d-flex gap-4 my-3 ">

    {% if medicos.count == 0 %}
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="info-fill" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
        </svg>
        <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
        <p class="fs-1">
         No hay medicos registrados
        </p>
      </div>
    {% else %}
        {% for medico in medicos %}
        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;">
            <img src="https://cdn.icon-icons.com/icons2/944/PNG/512/medical-59_icon-icons.com_73933.png" alt="Medico" class="card-img-top">
            <div class="card-body">
                <p class="card-title">               
                    <strong>{{medico.nombre|upper}} {{medico.apellido|upper}}</strong>
                </p>
                <p class="card-text">                    
                    Especialidad: <strong>{{medico.doctor_especialidades}}</strong>
                        <ul>
                            {% for especialidad in medico.especialidades.all %}
                                <li>{{ especialidad.nombre }}</li>
                            {% endfor %}
                        </ul>
                </p>
                <p class="card-text">
                    Matricula: <strong>{{medico.matricula}}</strong>
                </p>
            </div>
            <a href="#" class="text-center"> <strong>+</strong>info </a>
        </div>
        {% endfor %}
    {% endif %}
</div> 
{% endblock %}