{% extends 'core/base.html' %}
{% load static %}
{% block css_externo %} 
<link rel="stylesheet" href="{% static 'core/css/medicos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/alta_medico.css' %}">
{% endblock %}

{% block title %} Turnos {% endblock %}
{% block section_title %} Turnos {% endblock %}
{% block main %}  
<div class="alta_medico">
    <ul>
        <li><h3><a href="{% url 'alta_paciente' %}">Registrar paciente</a></h3></li>
    </ul>
</div>
<div class="content d-flex gap-4 my-3 menu_medicos">
    {% if pacientes.count == 0 %}
        <p>
            No hay pacientes registrados
        </p>
    {% else %}
        {% for paciente in pacientes %}
            {{paciente}}
        {% endfor %}
    {% endif %}
        
</div> 
{% endblock %}