{% extends 'core/base.html' %}
{% load static %}
{% block css_externo %} 
<link rel="stylesheet" href="{% static 'core/css/medicos.css' %}">
<link rel="stylesheet" href="{% static 'core/css/alta_medico.css' %}">
{% endblock %}

{% block title %} Turnos {% endblock %}
{% block section_title %} Turnos {% endblock %}
{% block main %}  
<div class="alta_medico">
    <ul>
        <li><h3><a href="{% url 'alta_turno' %}">Registrar turno</a></h3></li>
    </ul>
</div>
<!-- <div class="content d-flex gap-4 my-3 menu_medicos">
    {% if turnos.count == 0 %}
        <p>
            No hay turnos registrados
        </p>
    {% else %}
    
    {% endif %}
</div>  -->
<div>
    <form class="d-flex" method="GET" action="{% url 'buscador' %}">
        <input class="form-control me-2" type="text" placeholder="Buscar Doctor o Paciente" name="buscador" >
        <button class="btn btn-outline-success" type="submit">Buscador</button>
    </form>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Doctor</th>
            <th scope="col">Paciente</th>
            <th scope="col">Hora</th>
            <th scope="col">Fecha</th>
            <th scope="col">Especialidad</th>
        </tr>
    </thead>
    {% for turno in turnos %}
    <tbody>
        <tr>
            <th scope="row">{{turno.doctor}}</th>
            <td>{{turno.Paciente}}</td>
            <td>{{turno.hora}}</td>
            <td>{{turno.fecha}}</td>
            <td>{{turno.especialidad}}</td>
        </tr>
        
        {% endfor %}
    </tbody>
  </table>
        
{% endblock %}