.col{
    border: 2px solid black;
}
.menu{
    display: flex;
}
.nav{
    background-color: black;
}
.link{
    color: white;
    text-decoration: none;
}
.logo{
    background-color: rgb(40, 145, 216);
}
