.col{
    border: 2px solid black;
}
.menu{
    display: flex;
}
.nav{
    background-color: black;
}
.link{
    color: white;
    text-decoration: none;
}
/* .logo{
    background-color: rgb(155, 176, 190);
} */
.telefono-fondo{
    display: flex;
    flex-direction: row;
    width: 80%;
    background-color: rgb(77, 76, 76);
    color: white;
    justify-content: space-evenly;
    margin: 0 10%;
}

.bienvenida{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(100, 156, 194);
    width: 80%;
    margin: 0 10%;
}

.lugar_seccion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0 10%;
}
   
.barra_navegacion{
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    width: 80%;
    margin: 0 10%;
    height: auto;
    font-size: 1.5rem;
}
   
    
.barra_navegacion ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0 10%;
    background-color: grey;
    color: white;
}
  
    