form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    max-width: 200px;
}

.color_fondo{
    background-color: rgb(168, 168, 168);
}

.errorlist{
    background-color: yellow;
}